# EditorConfig is awesome: https://EditorConfig.org

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown Files
[*.md]
trim_trailing_whitespace = false

# YAML Files
[*.{yml,yaml}]
indent_size = 2

# Shell Files
[*.{sh,bash}]
indent_size = 2
indent_style = space
end_of_line = lf
